.cool {
  color: green;
}


/* from https://css-tricks.com/accessible-simple-responsive-tables/#article-header-id-5 */

/* Tables
================================== */
.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.table-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
}
.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; /* Default to full width */
  padding: 0.8em 1.2em;
  overflow: hidden; /* Or flex might break */
  list-style: none;
  border: solid 1px #AAA;
  background: white;

  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

.table-cell.header {
  font-weight: bold;
  background-color: #DADADA;
  cursor: default;
}

.table-cell.header.sortable {
  cursor: pointer;
}

.table-cell.zebra {
  background: #EEE;
}

/* Table column sizing
================================== */
.table--2cols > .table-row > .table-cell  { width: 50%; }
.table--3cols > .table-row > .table-cell  { width: 33.33%; }
.table--4cols > .table-row > .table-cell  { width: 25%; }
.table--5cols > .table-row > .table-cell  { width: 20%; }
.table--6cols > .table-row > .table-cell  { width: 16.6%; }
