<div class="table-cell header">
  <span {{action 'sortMyBooks' @sortProperty true}} class="clickable">&uarr;</span>
  <span {{action 'sortMyBooks' @sortProperty false}} class="clickable">&darr;</span>
  {{@columnName}}
</div>
